<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>粒子系统</title>
    <script src="../../XbsjEarth/XbsjEarth.js"></script>
    <script src="./scripts/vue.min.js"></script>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .checkbox {
            display: inline-block;
            cursor: pointer;
        }

        .curvearrow {
            width: 20px;
            height: 16px;
        }

        .defultbtn {
            display: inline-block;
            text-align: center;
            min-width: 60px;
            height: 38px;
            padding: 0 10px;
            line-height: 38px;
            border-radius: 100px;
            border: 1px solid #C9C9C9;
            background-color: #FFF;
            color: #555;
            cursor: pointer;
            margin-bottom: 4px;
        }

        .defultbtn:hover {
            background-color: #b3daf8;
        }

        .btnon {
            background-color: #1E9FFF;
            color: #fff;
            border: 1px solid #1E9FFF;
        }

        .colorbox {
            width: 50px;
        }

        input {
            width: 200px;
        }
    </style>
</head>

<body>
    <div id="vueApp" style="width: 100%; height: 100%; position: relative;">
        <earth-comp></earth-comp>
    </div>
    <script>

        var EarthComp = {
            template: `
                    <div style="width: 100%; height: 100%">
                        <div ref="earthContainer" style="width: 100%; height: 100%">
                        </div>
                            <div class="box" style="position: absolute; left: 18px; top: 18px; color: white; background: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 25px;min-width:200px; font-size:24px; font-family: 宋体;">
                                <span>起始透明度: {{ startAlpha }}</span><br/>
                                <span><input type="range" min="0" max="1" step="0.01" v-model.number="startAlpha"></span><br/>
                                <span>起始颜色：</span><input class="colorbox" type="color" value="#28B2aa" @input=startColorchange(event)><br/>

                                <span>结束透明度: {{ endAlpha }}</span><br/>
                                <span><input type="range" min="0" max="1" step="0.01" v-model.number="endAlpha"></span><br/>
                                <span>结束颜色：</span><input class="colorbox" type="color" value="#ffffff" @input=endColorchange(event)><br/>
                                <span>粒子发射速率:</sapn>
                                <span><input type="number" v-model="emissionRate"></span><br/>
                                <span>重力加速度:</span>
                                <span><input type="number" v-model="gravity"></span><br/>
                                <span>粒子存在最小的时间:</span>
                                <span><input type="number" v-model="minimumParticleLife"></span><br/>
                                <span>粒子存在最大的时间:</span>
                                <span><input type="number" v-model="maximumParticleLife"></span><br/>
                                <span>粒子的最小初速度:</span>
                                <span><input type="number" v-model="minimumSpeed"></span></br>
                                <span>粒子的最大初速度:</span>
                                <span><input type="number" v-model="maximumSpeed"></span></br>
                                <span>图像：</span>
                                <input type="text" v-model="image"><br/>
                            </div>
                    </div>
                `,
            data() {
                return {
                    _earth: null,
                    startAlpha: 0.7,
                    endAlpha: 0.0,
                    startColorRgb: { red: 0.12549, green: 0.69804, blue: 0.66667 },
                    endColorRgb: { red: 1.0, green: 1.0, blue: 1.0 },
                    position: [1.6988083400554626, 0.6666896940162155, 0],
                    rotate: [0, 0, 0],

                    emissionRate: 5.0,//粒子发射速度(个/秒)
                    gravity: 0.0,//重力加速度，设置为负则向上
                    minimumParticleLife: 12,//粒子存在最小的时间
                    maximumParticleLife: 12,//粒子存在最大的时间
                    minimumSpeed: 1.0,//粒子的最小初速度
                    maximumSpeed: 4.0,//粒子的最大初速度
                    startScale: 1.0,//粒子的初始比例(相对于粒子的像素)
                    endScale: 5.0,//粒子的结束比例(相对于粒子的像素)
                    particleSize: 25.0,//粒子的尺寸(单位：pixel)
                    lifetime: 20.0,
                    image: '../../XbsjEarth-Plugins/plottingSymbol2/assets/SampleData/smoke.png',
                    bindList: [
                        { name: 'startAlpha' },
                        { name: 'endAlpha' },
                        { name: 'startColorRgb' },
                        { name: 'endColorRgb' },
                        { name: 'emissionRate' },
                        { name: 'gravity' },
                        { name: 'minimumParticleLife' },
                        { name: 'maximumParticleLife' },
                        { name: 'minimumSpeed' },
                        { name: 'maximumSpeed' },
                        { name: 'startScale' },
                        { name: 'endScale' },
                        { name: 'particleSize' },
                        { name: 'lifetime' },
                        { name: 'image' }
                    ],

                }
            },
            methods: {
                startColorchange(event) {
                    Cesium.Color.fromCssColorString(event.target.value, this.startColorRgb);
                },
                endColorchange(event) {
                    Cesium.Color.fromCssColorString(event.target.value, this.endColorRgb);
                }
            },
            mounted() {

                var earth = new XE.Earth(this.$refs.earthContainer);

                earth.sceneTree.root = {
                    "children": [
                        {
                            "czmObject": {
                                "name": "默认离线影像",
                                "xbsjType": "Imagery",
                                "xbsjImageryProvider": {
                                    "createTileMapServiceImageryProvider": {
                                        "url": XE.HTML.cesiumDir + 'Assets/Textures/NaturalEarthII',
                                        "fileExtension": 'jpg',
                                    },
                                    "type": "createTileMapServiceImageryProvider"
                                }
                            }
                        }
                    ]
                };

                let particleSystem = new XE.Obj.Plots.ParticleSystem(earth);



                // this._earth = earth;
                particleSystem.flyTo();
                this.bindList.forEach(el => {
                    el.unbind = XE.MVVM.bind(this, el.name, particleSystem, el.name);
                })

                window.bindList = this.bindList
                this._earth = earth;
                // particleSystem.flyTo();

                //only for debug
                window.earth = earth;
                window.particleSystem = particleSystem;
                window.viewer = earth.czm.viewer;
            },
            beforeDestroy() {
                // vue程序销毁时，需要清理相关资源
                this.bindList.forEach(el => {
                    el.unbind();
                })
                this._earth = this._earth && this._earth.destroy();
            },
        }

        XE.ready().then(() => {
            // 加载标绘插件
            return XE.HTML.loadJS('../../XbsjEarth-Plugins/plottingSymbol2/plottingSymbol2.js');
        }).then(() => {
            var app = new Vue({
                el: '#vueApp',
                components: {
                    EarthComp,
                },
            });

        });
    </script>
</body>

</html>
