<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="xbsj-labels" content="Earth示例">
    </meta>
    <title>路径-编辑</title>
    <!-- 0 引入js文件：XbsjEarth.js和vue.min.js -->
    <script src="../../XbsjEarth/XbsjEarth.js"></script>
    <script src="./scripts/vue.min.js"></script>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .defultbtn {
            display: inline-block;
            text-align: center;
            min-width: 60px;
            height: 38px;
            padding: 0 10px;
            line-height: 38px;
            border-radius: 100px;
            border: 1px solid #C9C9C9;
            background-color: #FFF;
            color: #555;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .defultbtn:hover {
            background-color: #b3daf8;
        }

        .btnon {
            background-color: #1E9FFF;
            color: #fff;
            border: 1px solid #1E9FFF;
        }
        select {
            font-size: 20px;
        }
        .setbox span:nth-child(1) {
            font-weight: bold;
            display: inline-block;
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <div id="vueApp" style="width: 100%; height: 100%; background: grey; position: relative;">
        <earth-comp></earth-comp>
    </div>

    <script>
        // 1 创建Earth的vue组件
        var EarthComp = {
            template: `
                <div style="width: 100%; height: 100%"  @click="raise = false,reduce = false">
                    <div ref="earthContainer" style="width: 100%; height: 100%">
                    </div>
                        <div class="box" style="position: absolute; left: 18px; top: 18px; color: white; background: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 25px;min-width:200px; font-size:24px; font-family: 宋体;">
                            <div class="defultbtn" :class="{'btnon':creating}" @click="creating = !creating">创建</div>
                            <div class="defultbtn" style="margin-left:20px;" :class="{'btnon':editing}"  @click="editing = !editing">编辑</div>
                            <div class="defultbtn" style="margin-left:20px;" @click.stop=clickraise>抬高</div>
                            <div class="defultbtn" style="margin-left:20px;" @click.stop=clickreduce>降低</div><br/>
                            <div class="setbox" style="margin-top:5px">
                                <span>平滑过渡</span><br/>
                                <span>首个相机：</span>
                                <select v-model="previous"><option v-for="item in previousArr">{{item}}</option></select>
                                <span>末个相机：</span>
                                <select v-model="next"><option v-for="item in nextArr">{{item}}</option></select>
                                <div class="defultbtn" style="margin-left:20px;" @click="set">设置</div><br/>
                                <span style="font-weight: bold; display: inline-block; margin: 5px 0 10px 0;">沿着路径方向</span><br/>
                                <span>选择目标：</span><select multiple size="2" v-model="selectArr1"><option v-for="item in previousArr">{{item}}</option></select>
                                <div class="defultbtn" style="margin-left:20px;" @click="alongThePath">确定</div><br/>
                                <span style="font-weight: bold; display: inline-block; margin: 5px 0 10px 0;">相机指向</span><br/>
                                <span>选择目标：</span><select multiple size="2" v-model="arr"><option v-for="item in previousArr">{{item}}</option></select>
                                <div class="defultbtn" style="margin-left:20px;" @click="sets">指向位置</div>
                                <div class="defultbtn" style="margin-left:20px;" @click="ok">确定</div><br/>
                            </div>
                        </div>
                </div>
            `,
            data() {
                return {
                    _earth: undefined, // 注意：Earth和Cesium的相关变量放在vue中，必须使用下划线作为前缀！
                    _pin: undefined,
                    creating: false,
                    editing: false,
                    raise: false,
                    reduce: false,
                    previous: 0,
                    next: 0,
                    previousArr: [],
                    nextArr: [],
                    selectArr1: [],
                    arr: [],
                    position: []
                };
            },
            // 1.1 资源创建
            mounted() {
                // 1.1.1 创建地球
                var earth = new XE.Earth(this.$refs.earthContainer);
                earth.interaction.picking.enabled = true;

                // 1.1.2 场景配置
                earth.sceneTree.root = {
                    "expand": true,
                    "title": "预览场景",
                    "children": [{
                        "ref": 'tileset',
                        "czmObject": {
                            "name": '大雁塔',
                            "xbsjType": "Tileset",
                            "url": '../assets/dayanta/tileset.json',
                            "xbsjUseOriginTransform": false,
                        },
                    }, {
                        "ref": 'path1',
                        "czmObject": {
                            "xbsjType": "Path",
                            "positions": [
                                [
                                    1.901680132420559,
                                    0.5972182908445829,
                                    433.0683171316799
                                ],
                                [
                                    1.9016955279727528,
                                    0.5972181452778111,
                                    423.12350415411714
                                ],
                                [
                                    1.9017145828580002,
                                    0.5972208009081579,
                                    425.4850832912241
                                ],
                                [
                                    1.9017262789547222,
                                    0.5972351096523284,
                                    422.8497499192048
                                ],
                                [
                                    1.901727649590904,
                                    0.5972528175704416,
                                    430.28505722755125
                                ],
                                [
                                    1.9017257110942418,
                                    0.5972725123064561,
                                    424.4079951073853
                                ],
                                [
                                    1.9017036577863207,
                                    0.5972724396334318,
                                    424.7490241854184
                                ],
                                [
                                    1.901686600965538,
                                    0.5972705593917232,
                                    427.02149479702354
                                ],
                                [
                                    1.9016766994617944,
                                    0.5972603070896778,
                                    431.7015124084112
                                ]
                            ],
                            "rotations": [
                                [
                                    0.09013100029970911,
                                    -0.18377735899612802,
                                    0.003054530379764664
                                ],
                                [
                                    6.2774807418185326,
                                    -0.027139787365685564,
                                    0.003118310344536468
                                ],
                                [
                                    5.661660276351502,
                                    -0.021720571300320346,
                                    0.002535544669053813
                                ],
                                [
                                    4.981394998665019,
                                    0.05285693534942659,
                                    0.0008279383261120543
                                ],
                                [
                                    4.8175908508971865,
                                    -0.01246899314535077,
                                    0.0003275578935015844
                                ],
                                [
                                    3.5587596233006114,
                                    -0.02089253969273508,
                                    6.28033382242212
                                ],
                                [
                                    3.1760456928764027,
                                    0.0119204105288373,
                                    6.280067735240507
                                ],
                                [
                                    2.6119489784580585,
                                    0.04429838944262987,
                                    6.280495736703571
                                ],
                                [
                                    1.96205879990623,
                                    0.059989205852726935,
                                    6.28199776080986
                                ]
                            ],
                            "show": true, // 显示路径
                            "loop": false, // 环形                           
                            "showDirection": true, // 显示相机
                            "playing": false, // 飞行
                            "loopPlay": false, // 循环飞行
                            "alwaysAlongThePath": true
                        }
                    }, {
                        "czmObject": {
                            "name": '默认影像',
                            "xbsjType": "Imagery",
                            "xbsjImageryProvider": XE.Obj.Imagery.defaultImageryProviderConfig,
                        },
                    }]
                };

                var tileset = earth.sceneTree.$refs.tileset.czmObject;
                var path1 = earth.sceneTree.$refs.path1.czmObject;
                var pin = new XE.Obj.Pin(earth);

                // 定义一个pin为相机排序
                var ps = path1.positions.map((e, i) => {
                    var pin = new XE.Obj.Pin(earth);
                    pin.position = e;
                    pin.pinBuilder.text = '' + i;
                    return pin;
                })

                var cameraLength = path1.positions.length;
                for(var i=0; i<cameraLength; i++) {
                    this.previousArr.push(i);
                    this.nextArr.push(i);
                }

                // 设置相机位置
                // earth.camera.position.toString()和earth.camera.toAllJSONStr()这两个方法可获取相机位置
                earth.camera.position =  [1.901703273472499,0.5971739421771012,965.6307343927805];
                earth.camera.rotation = [1.758593271006248e-13,-0.7854502059287727,6.283185307179586];

                // 1.1.5 数据绑定
                this._creatingUnbind = XE.MVVM.bind(this, 'creating', path1, 'creating');
                this._editingUnbind = XE.MVVM.bind(this, 'editing', path1, 'editing');

                this._earth = earth;

                // only for Debug
                window.tileset = tileset;
                window.path1 = path1;
                window.earth = earth;
                window.pin = pin;
            },
            methods: {
                // 抬高相机路径，每次加10
                clickraise() {
                    this.raise = true;
                    this.reduce = false;
                    path1.addHeight(10);
                },
                // 降低相机路径，每次减10
                clickreduce() {
                    this.reduce = true;
                    this.raise = false;
                    path1.addHeight(-10);
                },
                alongThePath() {
                    if(this.selectArr1.length === 0) {
                        path1.directionAlongThePath();
                    } else {
                        var selectNumArr1 = this.selectArr1.map(Number);
                        path1.directionAlongThePath(selectNumArr1);
                    }                   
                },
                set() {
                    path1.directionLerpBetween(this.previous, this.next);
                },
                ok() {
                    this.position = [...pin.position];
                    if(this.arr.length === 0) {
                        path1.targetTo(this.position);
                    } else {
                        var arrnum = this.arr.map(Number);;
                        path1.targetTo(this.position, arrnum);
                    }  
                },
                sets() {
                    pin.creating = true;
                    pin.pinBuilder.text = "目标点";
                    pin.pinBuilder.size = 80;
                }
            },
            // 1.2 资源销毁
            beforeDestroy() {
                // vue程序销毁时，需要清理相关资源
                this._creatingUnbind = this._creatingUnbind && this._creatingUnbind();
                this._editingUnbind = this._editingUnbind && this._editingUnbind();
                this._earth = this._earth && this._earth.destroy();
                this._uw = this._uw && this._uw();
            },
        }

        // 2 创建vue程序
        // XE.ready()用来加载Cesium.js等相关资源
        XE.ready().then(() => {
            var app = new Vue({
                el: '#vueApp',
                components: {
                    EarthComp,
                },
            });
        });
    </script>
</body>

</html>