<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="xbsj-labels" content="Earth示例">
    </meta>
    <title>折线-编辑</title>
    <!-- 0 引入js文件：XbsjEarth.js和vue.min.js -->
    <script src="../../XbsjEarth/XbsjEarth.js"></script>
    <script src="./scripts/vue.min.js"></script>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .defultbtn {
            display: inline-block;
            text-align: center;
            min-width: 60px;
            height: 38px;
            padding: 0 10px;
            line-height: 38px;
            border-radius: 100px;
            border: 1px solid #C9C9C9;
            background-color: #FFF;
            color: #555;
            cursor: pointer;
        }

        .defultbtn:hover {
            background-color: #b3daf8;
        }

        .btnon {
            background-color: #1E9FFF;
            color: #fff;
            border: 1px solid #1E9FFF;
        }

        .poyline {
            width: 20px;
            height: 16px;
            cursor: pointer;
        }

        .checkbox {
            display: inline-block;
            margin: 5px 0;
            cursor: pointer;
        }

        input {
            width: 200px;
        }
    </style>
</head>

<body>
    <div id="vueApp" style="width: 100%; height: 100%; background: grey; position: relative;">
        <earth-comp></earth-comp>
    </div>

    <script>
        // 1 创建Earth的vue组件
        var EarthComp = {
            template: `
                <div style="width: 100%; height: 100%"  @click="raise = false,reduce = false">
                    <div ref="earthContainer" style="width: 100%; height: 100%">
                    </div>
                        <div class="box" style="position: absolute; left: 18px; top: 18px; color: white; background: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 25px;min-width:200px; font-size:24px; font-family: 宋体;">
                            <div class="defultbtn" :class="{'btnon':creating}" @click="creating = !creating">创建</div>
                            <div class="defultbtn" style="margin-left:20px;" :class="{'btnon':editing}"  @click="editing = !editing">编辑</div><br/>
                            <span @click="show = !show" class="checkbox"><input class="poyline" type="checkbox" v-model="show">折线显隐</span><br/>
                            <span>折线宽度：{{width}}</span>像素<br/><input type="range" min="0" v-model.number="width"><br/>
                            <span @click="depthTest = !depthTest" class="checkbox"><input class="poyline" type="checkbox" v-model="depthTest">深度检测</span><br/>
                        </div>
                </div>
            `,
            data() {
                return {
                    _earth: undefined, // 注意：Earth和Cesium的相关变量放在vue中，必须使用下划线作为前缀！
                    creating: false,
                    editing: false,
                    show: true,
                    width: 0,
                    depthTest: false
                };
            },
            // 1.1 资源创建
            mounted() {
                // 1.1.1 创建地球
                var earth = new XE.Earth(this.$refs.earthContainer);

                // 1.1.2 场景配置
                earth.sceneTree.root = {
                    "expand": true,
                    "title": "预览场景",
                    "children": [{
                        "ref": 'tileset',
                        "czmObject": {
                            "name": '大雁塔',
                            "xbsjType": "Tileset",
                            "url": '../assets/dayanta/tileset.json',
                            "xbsjUseOriginTransform": false,
                            "skipLevelOfDetail": false
                        },
                    }, {
                        "ref": 'polyline1',
                        "czmObject": {
                            "xbsjType": "Polyline",
                            "positions": [
                                [
                                    1.9016888563093797,
                                    0.5972258928370555,
                                    425.51335836189367
                                ],
                                [
                                    1.9017259298773688,
                                    0.5972286988596388,
                                    420.32280780951146
                                ],
                                [
                                    1.9017235736282532,
                                    0.5972663719954203,
                                    436.43803099065457
                                ],
                                [
                                    1.901681624036163,
                                    0.5972641480813949,
                                    420.2476124410519
                                ]
                            ]
                        }
                    }, {
                        "czmObject": {
                            "name": '默认影像',
                            "xbsjType": "Imagery",
                            "xbsjImageryProvider": XE.Obj.Imagery.defaultImageryProviderConfig,
                        },
                    }]
                };

                var tileset = earth.sceneTree.$refs.tileset.czmObject;
                var polyline1 = earth.sceneTree.$refs.polyline1.czmObject;


                // 1.1.3 设置相机位置
                // earth.camera.position.toString()和earth.camera.toAllJSONStr()这两个方法可获取相机位置
                earth.camera.position = [1.9017017971891215, 0.5971690064305392, 847.4026284894902];
                earth.camera.rotation = [6.283185307179345, -0.7856470997805363, 6.283185307179586];

                // 1.1.4 数据绑定
                this._creatingUnbind = XE.MVVM.bind(this, 'creating', polyline1, 'creating');
                this._editingUnbind = XE.MVVM.bind(this, 'editing', polyline1, 'editing');
                this._showUnbind = XE.MVVM.bind(this, 'show', polyline1, 'show');
                this._widthUnbind = XE.MVVM.bind(this, 'width', polyline1, 'width');
                this._depthTestUnbind = XE.MVVM.bind(this, 'depthTest', polyline1, 'depthTest');

                this._earth = earth;

                // only for Debug
                window.tileset = tileset;
                window.polyline1 = polyline1;
                window.earth = earth;
            },
            // 1.2 资源销毁
            beforeDestroy() {
                // vue程序销毁时，需要清理相关资源
                this._creatingUnbind = this._creatingUnbind && this._creatingUnbind();
                this._editingUnbind = this._editingUnbind && this._editingUnbind();
                this._showUnbind = this._showUnbind && this._showUnbind();
                this._widthUnbind = this._widthUnbind && this._widthUnbind();
                this._depthTestUnbind = this._depthTestUnbind && this._depthTestUnbind();
                this._earth = this._earth && this._earth.destroy();
            },
        }

        // 2 创建vue程序
        // XE.ready()用来加载Cesium.js等相关资源
        XE.ready().then(() => {
            var app = new Vue({
                el: '#vueApp',
                components: {
                    EarthComp,
                },
            });
        });
    </script>
</body>

</html>